/*
 box-shadow: x-offset y-offset spread>>"not required" blur color; 
 x-offset: بعدالظل عن  ال x (-n px or n px)
 y-offset: بعدالظل عن  ال y (-n px or n px)
 spread: الانتشار
 blur: الضباب
 color: اللون

 ممكن تعمل اكتر من ظل مع بعض عادي
 box-shadow: -5px -5px 10px gray, 5px 5px 10px red;

*/


body
{
    margin: 0;
}

.test
{
    background-image: linear-gradient(to top left, red, red 50%, gray, gray 50%);
    width: 200px;
    height: 200px;
    margin: 100px auto;

    /* box-shadow: -3px -3px 10px 7px gray; */

    /* without spread */
    box-shadow: -5px 0 10px black,5px 0 10px black, 0 -5px 10px blue,0 5px 10px blue;

    
    

}